/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-breadcrumb {
    padding: 10px 0 99px 0;

    @include sp {
        padding: 45px 0 0 0;
    }


    p {
        background: url(/assets/img/icon/icon_home2.svg) no-repeat center left;
        color: #666666;
        background-size: 15px 15px;
        padding-left: 26px;

        @include sp {
            display: none;
        }

        a {
            color: #00a0e9;
            position: relative;
            display: inline-block;
            border-bottom: 1px solid #fff;
            margin-right: 25px;
            font-size: 1.2rem;

            @include pc {
                &:hover {
                    border-bottom: 1px solid #00a0e9;
                }
            }

            &::after {
                content: '／';
                position: absolute;
                right: -30px;
                margin: 0 10px;
            }
        }
    }
}