/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer {
    $root: &;



    &__brc {
        background: #f1f1f1;

        p {
            font-size: 1.2rem;
            color: #666666;
            background: url(/assets/img/icon/icon_home1.svg) no-repeat center left;
            background-size: 20px;
            padding: 32px 0;
            padding-left: 30px;

            @include sp {
                background-size: 15px;
                font-size: 1rem;
                padding: 17px 0;
                padding-left: 25px;
            }
        }
    }

    &__navi {
        background: #2a2a2a;
        padding: 58px 0 72px;
        @include clear;

        @include sp {
            padding: 25px 0 38px;
        }

        .l-container {
            @include pc {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 1040px;
            }
        }

        #{$root}__menu {
            @include sp {
                width: 100%;
            }

            li {
                margin-top: 18px;

                @include sp {
                    border-bottom: 1px solid #5f5f5f;
                    padding: 12px 0;
                    margin: 0;
                }

                a {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: bold;
                    display: inline-block;
                    position: relative;
                    padding-bottom: 5px;
                    @include effect2;

                    @include sp {
                        font-size: 1.4rem;
                        padding-bottom: 0;

                    }
                }

                ul {
                    margin-left: 15px;
                    margin-top: 10px;

                    @include sp {
                        margin: 0 10px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    li {
                        margin-top: 6px;

                        @include sp {
                            width: 47%;
                            border: none;
                            margin-top: 0;
                            padding: 10px 0 0;
                        }

                        a {
                            font-size: 1.3rem;
                            font-weight: normal;

                            @include sp {
                                font-size: 1rem;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__info {
        background: url(/assets/img/common/bg1.jpg) no-repeat center;
        background-size: cover;
        padding: 60px 0 93px;
        text-align: center;
        position: relative;

        @include sp {
            background: url(/assets/img/common/bg1_sp.jpg) no-repeat center;
            background-size: cover;
            padding: 40px 0;
            padding-bottom: 98px;
        }

        ul {
            @include clear;
            display: inline-block;

            @include sp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: left;
            }

            li {
                float: left;
                margin: 0 14px;
                position: relative;
                padding-bottom: 5px;
                @include effect2;

                @include sp {
                    width: 47%;
                    margin: 0;
                    margin-bottom: 5px;
                }

                a {
                    color: #fff;
                    font-size: 1.2rem;

                    @include sp {
                        font-size: 1rem;
                    }
                }
            }
        }

        #{$root}__logo {
            border-top: 1px solid #a4a3a8;
            padding-top: 78px;
            margin-top: 53px;

            @include sp {
                text-align: center;
                padding-top: 45px;
                margin-top: 30px;

                img {
                    width: 110px;
                    vertical-align: middle;
                }
            }

            span {
                display: inline-block;
                margin-left: 30px;
                font-size: 1.5rem;
                color: #fff;
                font-weight: bold;
                padding-top: 8px;

                @include sp {
                    display: block;
                    font-size: 1.4rem;
                    margin-left: 0;
                    padding-top: 15px;
                }
            }
        }

        #{$root}__address {
            margin-top: 30px;

            @include sp {
                display: flex;
                flex-wrap: wrap;
                margin-top: 37px;
            }

            p {
                color: #fff;
                font-size: 1.3rem;
                display: inline-block;

                @include sp {
                    width: 50%;
                    padding-right: 15px;
                    font-size: 1.1rem;
                    text-align: center;
                }

                &+p {
                    margin-left: 20px;

                    @include sp {
                        margin-left: 0;
                        border-left: 1px solid #a4a0a6;
                        padding-left: 15px;
                        padding-right: 0;
                    }
                }

                span {
                    margin-right: 6px;
                    display: inline-block;
                    border: 1px solid #a4a0a6;
                    padding: 2px 10px;

                    @include sp {
                        display: block;
                        margin: 0 0 11px 0;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 2px 0;
                    }
                }
            }
        }

        #{$root}__social {
            margin: 18px 0;

            @media screen and (max-width: 1240px) {
                right: 20px;
            }

            @include sp {
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
            }

            p {
                display: inline-block;
                position: relative;
                width: 25px;
                text-align: center;
                margin: 0 7px;

                @include pc {
                    &:hover {
                        img {
                            animation: effect4 1.5s ease infinite;
                        }
                    }
                }

                @include sp {
                    margin: 0 8px;
                }
            }

            a {
                @include abf;
            }

            img {
                height: 20px;
                transition: .5s;
            }
        }
    }

    &__relate {
        padding: 52px 0;
        text-align: center;
        background: #fff;

        @include sp {
            padding: 35px 0 100px;
        }

        .l-container {
            position: relative;
        }

        ul {
            display: inline-block;

            @include sp {
                text-align: center;
            }

            li {
                float: left;

                &+li {
                    margin-left: 20px;

                    @include sp {
                        margin-left: 10px;
                    }
                }


                @include sp {
                    float: none;
                    display: inline-block;
                }

                img {
                    @include sp {
                        height: 30px;
                    }
                }
            }
        }

        #{$root}__copyright {
            font-size: 1.2rem;
            color: #999999;
            text-align: center;
            margin-top: 33px;

            @include sp {
                position: relative;
                margin-top: 40px;
                top: inherit;
                right: inherit;
                transform: inherit;
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}