/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header {
    $root: &;
    position: relative;

    @include pc {
        background: #fff;
    }

    @include sp {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    &__option {
        position: absolute;
        top: 34px;
        right: 80px;

        @media screen and (max-width: 1300px)and (min-width: 768px) {
            right: 50%;
            transform: translateX(50%);
            width: 100%;
            max-width: 1070px;
            text-align: right;
        }

        @include sp {
            top: 22px;
            right: 7px;
        }

        .lag {
            display: inline-block;
            background: url(/assets/img/icon/icon_language.svg) no-repeat center left;
            background-size: 12px;
            padding-left: 18px;
            font-size: 1.4rem;
            position: relative;
            padding-bottom: 5px;
            @include effect2;

            &:before {
                background: #000;
            }

            @include sp {
                display: none;
            }
        }
    }

    .c-menu {
        transform: scale(0.5);
        width: 60px;
        height: 30px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:after,
        &:before,
        span {
            width: 10%;
            height: 20%;
            border-radius: 100px;
            position: absolute;
            left: 0px;
            background: #003567;
            transform: rotate(0deg);
            transition: all 0.3s;
            left: 1%;
            right: 1%;
            margin: 0 auto;

        }

        &:after,
        &:before {
            content: "";
        }

        &:after {
            top: -10%;
            margin-top: 0px;

        }

        &:before {
            bottom: -10%;
            margin-bottom: 0px;
        }

        span {
            top: 50%;
            margin-top: -2px;
            transform: .3s;
        }

        &.on {

            &:after {
                transform: rotate(135deg)translate(9px, -9px);
                width: 50%;
                height: 10%;
            }

            &:before {
                transform: rotate(225deg);
                bottom: 50%;
                margin-bottom: 1px;
                width: 50%;
                height: 10%;
            }

            span {
                transform: rotate(135deg);
                opacity: 0;
            }

        }

        &.scrool {
            position: fixed;
            top: 10px;
            right: 10px;
        }
    }

    .c-scrool {
        @include pc {
            display: none;
        }

        @include sp {

            &.scrool {
                position: fixed;
                top: 19px;
                z-index: 999999;
                right: -500px;

                &:before {
                    content: '';
                    @include shadow;
                    position: absolute;
                    top: 48%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: #fff;
                    width: 35px;
                    height: 35px;
                    display: block;
                    border-radius: 100%;
                    transition: .3s;
                }

                &.on {
                    &:before {
                        box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0);
                    }
                }
            }
        }
    }

    &__content {
        padding: 30px 0 0;
        @include clear;

        @include sp {
            padding: 10px 10px;
        }
    }

    &__logo {
        text-align: center;

        @include sp {
            float: none;
            padding: 8px 15px;
            position: relative;
            text-align: left;
            background: #fff;
        }

        img {
            width: 235px;

            @include sp {
                width: 157px;
            }
        }
    }

    &__navi {
        margin: 20px 0 0 0;

        @include sp {
            float: none;
            position: fixed;
            top: 58px;
            left: -100%;
            right: 0;
            z-index: 999;
            margin: 0;
            background: rgba(0, 0, 0, 0.9);
            width: 100%;
            height: calc(100% - 55px);
            overflow: scroll;
            transition: .3s;

            &.scrool {
                top: 0;
                height: 100%;

                .c-navi {
                    padding-top: 30px;
                }
            }

            &.active {
                left: 0;
            }




        }

        &.notscrool {
            transition: 0s;
        }
    }

    &__dropmenu {
        &.active {
            right: 0;
        }

        @include pc {
            display: block !important;
        }

        @include sp {
            display: none;
            transition: .3s;
            position: relative;
            right: 100%;
        }
    }

    // &__light {
    //     @include pc {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         right: 0;

    //         #{$root}__logo {
    //             background: url(/assets/img/common/logo_light.png) no-repeat;
    //             background-size: cover;

    //             img {
    //                 opacity: 0;
    //             }
    //         }

    //         .c-navi {
    //             &__item {
    //                 color: #fff;
    //             }
    //         }

    //         .c-navi2 {
    //             li {
    //                 a {
    //                     color: #fff;
    //                 }

    //                 &:before {
    //                     background: #fff;
    //                 }


    //             }
    //         }
    //     }
    // }
    &.scrool {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        z-index: 999;
        height: 100%;
        transition: .3s;

        #{$root}__navi {
            position: absolute;
            left: 0;
            top: 58px;
            overflow: auto;
        }

        .c-navi3 {
            left: 10px;
            right: 10px;
        }

        &.active {
            left: 0;
        }
    }


}