/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body {
    min-width: 1060px;
    position: static;


    @include sp {
        min-width: inherit;
        width: 100%;


        &.active {
            position: fixed;
            overflow: hidden;
        }
    }
}

#wrapper {
    overflow: hidden;
    position: relative;
    padding: 10px;

    &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 10px solid #ffffff;
        z-index: 999;
        pointer-events: none;
    }



    &.active {
        height: 100vh;
        overflow: hidden;
    }
}

.l-container {
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 1320px) {
        width: auto;
        padding: 0 20px;
        padding-right: 80px;
    }

    @include sp {
        width: auto;
        padding: 0 15px;
    }
}

.l-container1 {
    max-width: 1080px;
    margin: 0 auto;
    @include clear;

    @media screen and (max-width: 1240px) {
        width: auto;
        padding: 0 20px;
    }

    @include sp {
        width: auto;
        padding: 0 20px;
    }

    &__content {
        float: left;
        width: calc(100% - 320px);
        margin-bottom: 132px;

        @include sp {
            float: none;
            width: auto;
            margin-bottom: 19px;
        }
    }

    &__sidebar {
        float: right;

        @include sp {
            float: none;
        }
    }
}

.l-container2 {
    width: 700px;
    margin: 0 auto;

    @include sp {
        width: auto;
        padding: 0 20px;
    }
}

main {
    background: #f4f4f4;

    @include sp {
        margin-top: 104px;
    }
}