/*------------------------------------------------------------
side
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-sidebar {
    width: 270px;

    @include sp {
        width: 100%;
        margin-bottom: 39px;
    }

    &__tit {
        padding: 26px 20px;
        font-size: 1.8rem;
        color: #fff;
        font-weight: bold;
        background: url(/assets/img/icon/icon_arrow2.svg) no-repeat center right 15px #003567;
        background-size: 20px;
        position: relative;
        transition: .3s;

        @include pc {
            &:hover {
                background-position: center right 20px;
                padding-left: 40px;
            }
        }

        @include sp {
            background-position: center right 30px;
        }

        a {
            color: #fff;
            @include abf;
        }

        @include sp {
            font-size: 2.1rem;
            padding: 31px 35px;
            background-size: 25px;
        }
    }

    &__menu {
        @include shadow;

        @include sp {
            margin: 0 -20px;
        }

        li {
            font-size: 1.6rem;
            padding: 15px 40px;
            border-bottom: 1px solid #dddddd;
            background: url(/assets/img/icon/icon_arrow3.svg) no-repeat top 23px left 23px;
            background-size: auto 12px;
            position: relative;
            transition: .3s;

            @include pc {
                &:hover {
                    &:before {
                        opacity: 1;
                    }

                    a {
                        color: #5fa0d2;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background: #00a1e9;
                    width: 3px;
                    opacity: 0;
                    transition: .3s;
                }
            }

            @include sp {
                font-size: 1.9rem;
                padding: 18px 30px 18px 59px;
                background-position: top 27px left 40px;
            }

            a {
                @include abf;
                transition: .3s;
            }
        }
    }

    &__banner {
        @include shadow;
        margin-top: 17px;
        transition: .3s;
        position: relative;

        figure {
            overflow: hidden;

            img {
                transition: .3s;
            }
        }

        @include pc {
            &:hover {
                @include shadow;

                img {
                    transform: scale(1.1);
                }

                a {
                    border-bottom: 1px solid #0068b7;
                }
            }
        }

        div {
            padding: 15px 20px 23px;

            p {
                font-size: 1.6rem;
                margin-bottom: 12px;

                @include sp {
                    font-size: 1.4rem;
                    margin-bottom: 15px;
                    line-height: 23px;
                    margin-bottom: 8px;
                }
            }

            a {
                font-size: 1.2rem;
                color: #0068b7;
                transition: .3s;
                border-bottom: 1px solid #fff;
                @include abf;

                @include sp {
                    font-size: 1rem;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}