//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// フォント
//============================================
@mixin mincyo() {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
        "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

@mixin mincho() {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
        "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media screen and (max-width: #{$breakpoint1}) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: #{$breakpoint3}) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: #{$breakpoint1}) {
        @content;
    }
}

@mixin abf {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
    }
}

@mixin roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

@mixin shadow {
    box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.1);

}

@mixin effect1 {
    @include pc {
        &:hover {
            &::before {
                right: 0;
                left: 0;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 50%;
        right: 50%;
        transition: .3s;
        height: 1px;
        background: #fff;
    }
}

@mixin effect2 {
    @include pc {
        &:hover {
            &::before {
                right: 0;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 100%;
        transition: .3s;
        height: 1px;
        background: #fff;
    }
}

@keyframes rung {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(3px, 0, 0);
    }
}

@keyframes effect3 {

    0%,
    100% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(360deg)
    }
}

@keyframes effect4 {

    0%,
    100% {
        transform: scaleX(1)
    }

    50% {
        transform: scaleX(-1)
    }
}

@keyframes effect5 {

    0%,
    100% {
        bottom: 40px;
    }

    50% {
        bottom: 30px;
    }
}

@keyframes effect6 {

    0%,
    100% {
        top: calc(48% - 5px);
    }

    50% {
        top: calc(52% - 5px);
    }
}