//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1: 767px;
$breakpoint2: 480px;
$breakpoint3: 1200px;
// Common Colors
//$color1:#;
//$color2:#;
//$color3:#;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;