/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-bnt {
    @include pc {
        display: flex;
        flex-wrap: inherit;
        justify-content: center;
    }

    position: relative;

    &__line {
        &::before {
            content: '';
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background: #dddddd;
            display: block;
            position: absolute;
        }
    }

    li {
        border-radius: 100px;
        width: 280px;
        background: #000000;
        position: relative;
        text-align: center;
        padding: 32px 0;
        overflow: hidden;
        margin: 0 13px;
        line-height: 1;

        &:only-child {
            width: 320px;

            @include sp {
                width: auto;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        @include pc {
            &:hover {
                &:before {
                    transform: scale(1, 1);
                    transform-origin: left top;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #0068b7;
                transform: scale(0, 1);
                transform-origin: right top;
                transition: transform .5s;
            }
        }

        @include sp {
            width: auto;
            margin: 0;
            border-bottom: 1px solid #fff;
            padding: 18px 0;
            margin: 0 27px !important;


            &+li {
                margin-top: 10px !important;
            }
        }

        a {
            @include abf;
        }

        span {
            position: relative;
            color: #fff;
            font-size: 1.6rem;

            @include sp {
                font-size: 1.4rem;
            }

            &:after {
                position: relative;
                content: "";
                margin-left: 10px;
                display: inline-block;
                width: 7px;
                height: 7px;
                border-right: 2px solid #fff;
                border-top: 2px solid #fff;
                transform: rotate(45deg);
            }
        }

    }
}

.c-bnt1 {
    border-radius: 100px;
    width: 320px;
    background: #0168b7;
    font-size: 1.4rem;
    position: relative;
    text-align: center;
    padding: 29px 0;
    overflow: hidden;
    margin: 0 auto;
    line-height: 1;

    @include sp {
        width: auto;
        margin: 0 27px;
    }

    @include pc {
        &:hover {
            &:before {
                transform: scale(1, 1);
                transform-origin: left top;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #343334;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform .5s;
        }
    }

    @include sp {
        padding: 15px 0;
    }

    a {
        text-decoration: none;
        opacity: 1 !important;
        @include abf;
    }

    span {
        position: relative;
        z-index: 10;
        color: #fff;
        font-size: 1.4rem;

        @include sp {
            font-size: 1.2rem;
        }

        &:after {
            position: relative;
            content: "";
            margin-left: 10px;
            display: inline-block;
            width: 7px;
            height: 7px;
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
            transform: rotate(45deg);
            margin-right: 0.5em;
        }
    }

    &__white {
        background: #fff;
        padding: 17px 0;

        @include sp {
            padding: 15px 0;
        }

        span {
            color: #0068b7;
            font-size: 1.6rem;

            @include sp {
                font-size: 1.2rem;

            }

            &:after {
                border-right: 2px solid #0068b7;
                border-top: 2px solid #0068b7;
            }
        }

        @include pc {
            &:hover {
                span {
                    color: #fff;

                    &:after {
                        border-right: 2px solid #fff;
                        border-top: 2px solid #fff;
                    }
                }
            }
        }
    }
}

.c-bnt2 {
    border-radius: 100px;
    background: #0168b7;
    position: relative;
    text-align: center;
    padding: 17px 0;
    overflow: hidden;
    line-height: 1;
    font-size: 1.6rem;

    @include pc {
        &:hover {
            &:before {
                transform: scale(1, 1);
                transform-origin: left top;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000000;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform .5s;
        }
    }

    @include sp {
        padding: 10px 0;
    }

    a {
        color: #fff;
        @include abf;
    }

    span {
        position: relative;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;

        @include sp {
            font-size: 1.2rem;
        }
    }

    &__color1 {
        background: none;
        border: 1px solid #241f00;
        padding: 16px 0;

        @include pc {
            &:hover {
                span {
                    color: #fff;
                }
            }
        }

        @include sp {
            padding: 9px 0;
        }

        span {
            color: #000;
            transition: .5s;
        }
    }
}