/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #000;
    background: url(/assets/img/common/line2.png) no-repeat center;
    padding: 50px 0;

    @include sp {
        padding: 33px 0;
    }

    span {
        display: block;

        @include sp {
            background: #fff;
            z-index: 1;
            width: 100%;
            text-align: center !important;
            padding: 0;
        }
    }

    &__en {
        @include roboto;
        font-size: 4rem;
        letter-spacing: 5px;

        @include sp {
            font-size: 2.8rem;
        }

    }

    &__jp {
        font-size: 2rem;

        @include sp {
            font-size: 1.4rem;
            padding-top: 3px !important;
        }
    }
}

.c-title2 {
    font-size: 2.8rem;
    position: relative;
    padding-left: 35px;

    @include sp {
        padding-left: 23px;
    }

    &::after {
        content: '';
        height: 40px;
        width: 2px;
        background: #0068b7;
        display: inline-block;
        line-height: 1;
        transform: rotate(45deg);
        position: absolute;
        left: 15px;
        top: 0;

        @include sp {
            height: 30px;
            left: 9px;
            top: -1px;
        }

    }

    @include sp {
        font-size: 2rem;
    }
}

.c-title3 {
    font-size: 2rem;
    padding-bottom: 13px;
    border-bottom: 1px solid #0068b7;

    @include sp {
        font-size: 1.6rem;
    }
}

.c-title4 {
    font-size: 1.6rem;

    @include sp {
        font-size: 1.4rem;
    }

    span {
        @include roboto;
        font-size: 3.2rem;
        color: #0068b7;
        display: inline-block;
        margin-right: 1px;
        letter-spacing: 5px;

        @include sp {
            display: block;
            font-size: 2.8rem;
            letter-spacing: 4.5px;
            margin-bottom: 4px;
        }
    }
}

.c-title5 {
    color: #0068b7;
    font-size: 2.4rem;

    @include sp {
        font-size: 1.8rem;

    }
}