/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-navi {
    @include clear;
    $root: &;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    line-height: 0;
    padding: 0 20px;

    @include sp {
        overflow: hidden;
        padding: 20px;
        padding-top: 80px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 1075px;

        @include sp {
            display: block;
        }
    }

    li {
        @include pc {
            &:hover {
                #{$root}__item {
                    &:before {
                        right: 0;
                    }
                }
            }
        }

        @include sp {
            display: block;
            width: 100%;
            text-align: left;
            margin-left: 0 !important;
            border-bottom: 1px solid #58595a;
        }
    }


    &__sub {
        #{$root}__item {
            @include sp {
                a {
                    display: none;
                }
            }
        }

        @include sp {
            background: url(/assets/img/icon/xun.png) no-repeat top 19px right 10px;
            background-size: 10px;

            &.on {
                background: url(/assets/img/icon/len.png) no-repeat top 19px right 10px;
                background-size: 10px;
            }
        }
    }

    &__item {
        padding: 0 0 28px;
        position: relative;
        color: #000000;

        @include sp {
            color: #fff;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 10px 0;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 100%;
            height: 2px;
            background: #000000;
            transition: .2s;
        }

        a {
            opacity: 1 !important;
            @include abf;
        }
    }

    &__child {
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(1, 53, 104, 0.9);
        display: none;
        z-index: 9;

        @include sp {
            position: relative;
            // display: block !important;
            background: none;
            left: inherit;
            right: inherit;
            width: 100%;
            // transform: none;
            // left: inherit;
            // padding: 0;
            display: none;
        }

        &__title {
            font-size: 2rem;
            text-align: left;
            padding: 30px 0;
            max-width: 1200px;
            margin: 0 auto;
            color: #fff;

            @media screen and (max-width: 1440px) {
                padding: 30px 20px;
            }

            @include sp {
                display: none;
            }
        }

        .l-container {
            @include clear;
            padding-bottom: 30px;

            @include sp {
                width: auto;
                padding: 0;
                padding-bottom: 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

            }

            div {
                width: 24.4%;
                float: left;
                margin-left: 0.8%;
                text-align: left;
                padding: 10px 0 10px 20px;
                position: relative;
                font-size: 1.4rem;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    border-right: 1px solid #fff;
                    border-top: 1px solid #fff;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    left: 0;
                    line-height: 1;
                    transition: .3s;

                    @include sp {
                        display: none;
                    }
                }

                @include pc {
                    transform: translateX(-60px);
                    transition: all .3s cubic-bezier(.12, .66, .25, 1) .1s;
                    opacity: 0;

                    &.active {
                        transform: translateX(0);
                        opacity: 1;
                    }

                    &:hover {
                        &:before {
                            left: 5px;
                        }
                    }
                }

                @include sp {
                    width: 50%;
                    float: none;
                    display: block;
                    padding: 6px 10px;
                    margin: 0;
                    font-size: 1rem;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    @include abf;

                    @include sp {
                        font-weight: normal;
                    }
                }

                &:nth-child(4n+1) {
                    margin-left: 0;
                }
            }
        }
    }

    &__last {
        @include sp {
            background: none;
            border: none !important;
            margin-top: 20px;

            #{$root}__child {
                display: block !important;
            }
        }
    }
}

.c-navi1 {
    @include pc {
        position: absolute;
        top: 100px;
        left: 10px;
        right: 10px;
        display: none;
    }

    text-align: left;
    background: #003567;
    padding: 60px 0 72px;

    .l-container {
        @include clear;
        position: relative;
    }

    @include sp {
        padding: 25px 0 38px;
        display: block !important;
    }

    &__menu {
        float: left;
        width: 33%;

        @include sp {
            width: 100%;
        }

        li {
            margin-top: 18px;

            @include sp {
                border-bottom: 1px solid #40688d;
                padding: 12px 0;
                margin: 0;
            }

            a {
                color: #fff;
                font-size: 1.5rem;
                font-weight: bold;
                display: inline-block;
                position: relative;
                padding-bottom: 5px;
                @include effect2;

                @include sp {
                    font-size: 1.4rem;
                    padding-bottom: 0;

                }
            }

            ul {
                margin-left: 15px;
                margin-top: 10px;

                @include sp {
                    margin: 5px 10px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                li {
                    margin-top: 6px;

                    @include sp {
                        width: 48%;
                        border: none;
                        margin-top: 0;
                        padding: 5px 0;
                    }

                    a {
                        font-size: 1.3rem;
                        font-weight: normal;

                        @include sp {
                            font-size: 1rem;
                            margin: 0;
                        }
                    }
                }
            }
        }


    }

    &__sub {
        @include sp {
            background: url(/assets/img/icon/xun.png) no-repeat top 19px right 10px;
            background-size: 10px;

            div {
                display: none;
            }

            &.on {
                background: url(/assets/img/icon/len.png) no-repeat top 19px right 10px;
                background-size: 10px;
            }
        }
    }

    &__social {
        position: absolute;
        top: 40px;
        right: 0;

        @media screen and (max-width: 1240px) {
            right: 20px;
        }

        @include sp {
            position: relative;
            text-align: center;
            margin-top: 37px;
            right: inherit;
        }

        p {
            display: inline-block;
            position: relative;
            width: 25px;
            text-align: center;
            margin-left: 20px;

            @include pc {
                &:hover {
                    img {
                        animation: effect4 1.5s ease infinite;
                    }
                }
            }

            @include sp {
                margin: 0 10px;
            }
        }

        a {
            @include abf;
        }

        img {
            height: 20px;
            transition: .5s;
        }
    }

    &__menu2 {
        border-top: 1px solid #fff;
        padding-top: 40px;
        margin-top: 40px;

        li {
            float: left;
            margin-right: 30px;
            position: relative;
            padding-bottom: 5px;
            @include effect2;

            @include sp {
                width: 50%;
                margin-right: 0;
                margin-bottom: 5px;
            }

            a {
                color: #fff;
                font-size: 1.2rem;

                @include sp {
                    font-size: 1rem;
                }
            }
        }
    }
}

.c-navi2 {
    @include clear;
    margin: 0 10px 5px 0;
    float: right;

    @include tab {
        float: none;
        display: inline-block;
        margin: 20px 0 5px 0;
    }

    li {
        float: left;
        position: relative;
        padding-bottom: 5px;

        &+li {
            margin-left: 30px;
        }

        a {
            font-size: 1.2rem;
            color: #111111;
            text-decoration: none;
            @include abf;
        }

        &.lag {
            background: url(/assets/img/icon/icon_language.svg) no-repeat top 3px left;
            background-size: 12px;
            padding-left: 17px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 100%;
            height: 1px;
            background: #111111;
            transition: .3s;
        }

        @include pc {
            &:hover {
                &:before {
                    right: 0;
                }
            }
        }
    }
}

.c-navi3 {
    $root: &;
    right: 0;
    top: 266px;
    z-index: 9999;
    background: #fee100;
    @include shadow;

    @include pc {
        position: fixed;
        bottom: inherit !important;

    }

    @include sp {
        position: absolute;
        top: 67px;
        left: 10px;
        right: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include clear;

        &.scrool {
            position: fixed;
            top: auto;
            left: 10px;
            right: 10px;
            bottom: -500px;

            #{$root}__box {
                top: auto;
                bottom: 100%;
            }
        }

        &.notscrool {
            bottom: inherit !important;
        }
    }

    &__txt {
        display: block;
        font-size: 1.2rem;
        margin-top: 9px;

        @include sp {
            font-size: 9px;
            margin-top: 5px;
        }
    }

    &__bnt {
        position: relative !important;

        p {
            background: #fee100;

            @include pc {
                padding: 16px 0 8px !important;
            }
        }

        @include pc {
            &:hover {}
        }

        a {
            @include abf;
        }
    }

    &__popup {
        p {
            padding: 16px 0 8px;
        }
    }

    &__item {
        width: 72px;
        text-align: center;
        cursor: pointer;

        right: 0;
        transition: .3s;
        background: #fee100;
        position: relative;

        &:first-child {
            background: #00a0ea;

            >p {
                background: #00a0ea;
                padding: 15px 0;
            }

            #{$root}__txt {
                color: #fff;
            }
        }

        &:nth-child(5) {
            p {
                padding: 10px 0;

                span {
                    margin-top: 4px;
                }
            }
        }

        &:last-child {
            background: #ffffff;

            >p {
                background: #ffffff;
                padding: 17px 0;
            }
        }

        @include sp {
            position: initial;
            width: 16.5%;
            right: 0;

            &:first-child {
                width: 17%;
            }

            &:nth-child(5) {
                width: 18%;
            }

            &:last-child {
                width: 15.5%;
            }

            br {
                display: none;
            }

        }

        p {
            transition: .5s;

            line-height: 13px;
            background: #fee100;

            @include sp {
                padding: 10px 0 7px !important;
            }
        }


        img {
            transition: .3s;

            @include sp {
                height: 15px;
            }
        }

        #{$root}__box {
            position: absolute;
            top: 0;
            right: -410px;
            width: 410px;
            transform-origin: top right;
            transition: .5s;
            cursor: auto;
            z-index: -1;
            opacity: 0;
            box-shadow: -10px 10px 14px 0px rgba(0, 0, 0, .2);


            @include pc {
                display: block !important;

            }

            @include sp {
                left: 0;
                right: inherit;
                top: 45px;
                transition: initial;
                display: none;
                width: 100%;
                opacity: 1;
            }
        }

        @include pc {
            &:hover {

                z-index: 1;

                >p {
                    z-index: 1;

                    img {
                        transform: scaleX(-1);
                    }
                }

                #{$root}__box {
                    right: 72px;
                    opacity: 1;
                }
            }
        }

    }

    &__login {
        background: #00a0ea;
        padding: 30px;

        @include sp {
            padding: 15px;
        }

        form {
            text-align: left;
            display: block;
            color: #fff;

            label {
                display: block;
                font-size: 1.6rem;

                @include sp {
                    font-size: 1.2rem;
                }
            }

            input[type=text],
            input[type=password] {
                display: block;
                width: 100%;
                border-radius: 50px;
                border: none;
                margin-top: 10px;
                text-indent: 20px;
                font-size: 1.6rem;
                line-height: 52px;
                margin-bottom: 20px;
                background: #fff;
                padding: 0;

                @include sp {
                    line-height: 35px;
                    font-size: 1.2rem;
                    margin: 5px 0 10px;
                }
            }

            .c-submit {
                margin-bottom: 20px;

                @include sp {
                    margin-bottom: 10px;
                }
            }
        }

        p {
            position: relative;
            text-align: left;
            background: url(/assets/img/icon/icon_arrow2.svg) no-repeat center left;
            background-size: auto 10px;
            padding: 0;
            padding-left: 10px;

            a {
                color: #fff;
                text-decoration: none;
                opacity: 1 !important;
                display: inline-block;
                transition: none !important;
                border-bottom: 1px solid #00a0ea;
                font-size: 1.2rem;

                @include sp {
                    font-size: 1rem;
                }

                &:hover {
                    border-bottom: 1px solid #fff;
                }

                &:before {
                    display: none;
                }
            }

            &+p {
                margin-top: 15px;

                @include sp {
                    margin-top: 5px;
                }
            }
        }
    }

    &__contact {
        padding: 11px 30px 20px;
        background: #ffe100;
        text-align: center;

        @include sp {
            padding: 19px 15px;
        }

        p {
            font-size: 1.7rem;
            display: inline-block;
            text-align: left;
            font-weight: bold;
            letter-spacing: 1px;

            @include sp {
                display: block;
                text-align: center;
                font-size: 1.5rem;
            }
        }

        #{$root}__tel {
            @include roboto;
            font-size: 3.7rem;
            display: inline-block;
            text-align: left;
            background: url(/assets/img/icon/icon_free-dial.svg) no-repeat center left;
            background-size: 36px;
            padding-left: 43px;
            margin: -7px 0 10px;
            font-weight: bold;
            letter-spacing: 1px;
            position: relative;

            a {
                @include pc {
                    display: none;
                }

                @include sp {
                    @include abf;
                }
            }

            @include sp {
                font-size: 3rem;
                background: #fff;
                background-size: 25px;
                text-align: center;
                margin: 0 0 10px;
                border-radius: 100px;
                padding: 4px 0;
                width: 100%;
                max-width: 300px;

                &::before {
                    content: '';
                    width: 25px;
                    height: 17px;
                    background: url(/assets/img/icon/icon_free-dial.svg) no-repeat center left;
                    background-size: cover;
                    display: inline-block;
                    margin-right: 3px;
                }
            }
        }

        .c-bnt1 {
            @include sp {
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
    }

    &__search {
        background: #fff;
        padding: 16px 30px;
        position: relative;

        input[type=text] {
            width: 100%;
            text-indent: 20px;
            background: #e4e4e4;
            border-radius: 50px;
            font-size: 1.6rem;
            border: none;
            padding: 0;
            line-height: 44px;

            @include sp {
                font-size: 1.2rem;
                line-height: 35px;
            }
        }

        input[type=submit] {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
            right: 60px;
            border: none;
            width: 20px;
            height: 20px;
            background: url(/assets/img/icon/icon_search.svg) no-repeat top left;
            background-size: 20px 20px;
            cursor: pointer;

            @include sp {
                width: 16px;
                height: 16px;
                background-size: 16px 16px;
                right: 40px;
            }
        }
    }

    &__logout {
        background: #ffe100;
        padding: 30px;

        @include sp {
            padding: 15px;
            width: 100%;
        }

        &__tit {
            font-size: 1.6rem;
            font-weight: bold;

            @include sp {
                font-size: 1.2rem;
            }
        }

        &__address {
            margin: 10px 0 20px;
            font-size: 1.4rem;

            @include sp {
                font-size: 1rem;
                margin: 5px 0 10px;
            }
        }

        .c-bnt2 {
            margin-top: 6px;
        }
    }
}

.c-navi4 {
    background: #ffe100;
    padding: 47px 0 40px;
    position: relative;

    @include sp {
        padding: 37px 0 25px;
    }

    .l-container {
        @include sp {
            padding: 0;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
            width: calc(25% - 60px);
            text-align: center;
            border-right: 1px solid #000000;
            position: relative;

            &:last-child {
                width: 240px;
                border: none;
            }

            &:nth-child(4) {
                @include sp {
                    border-right: none;
                }
            }

            @include pc {
                &:hover {
                    img {
                        transform: rotateY(180deg);
                    }
                }
            }

            @include sp {
                width: 25%;
            }

            img {
                max-width: 30px;
                max-height: 30px;
                transition: .5s;

                @include sp {
                    max-width: 15px;
                    max-height: 15px;
                }
            }

            a {
                font-size: 2rem;
                font-weight: bold;
                margin-top: 15px;
                display: block;
                @include abf;

                @include sp {
                    font-size: 1rem;
                    margin-top: 5px;
                }
            }

            &.tel {
                @include sp {
                    width: 100%;
                    margin: 0 15px;
                    border: none;
                    margin-top: 36px;
                    border: 1px solid #000000;
                    border-radius: 50px;
                    padding: 8px 0;
                }

                p {
                    font-weight: bold;
                    font-size: 1.3rem;
                    margin-bottom: 11px;
                    display: inline-block;
                    text-align: left;

                    @include sp {
                        margin-bottom: 2px;
                        font-size: 1rem;
                        display: block;
                        text-align: center;
                    }
                }

                div {
                    @include roboto;
                    background: url(/assets/img/icon/icon_free-dial.svg) no-repeat center left;
                    background-size: 30px;
                    padding-left: 36px;
                    display: inline-block;
                    text-align: left;
                    position: relative;

                    @include pc {
                        &:hover {
                            animation: rung 0.82s cubic-bezier(.36, .07, .19, .97) both;
                        }
                    }

                    @include sp {
                        background-size: 25px;
                        padding-left: 30px;
                        position: initial;
                    }

                    a {
                        font-size: 2.8rem;
                        margin-top: 0;

                        @include sp {
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }
    }
}