/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-img1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: 47%;
        margin-top: 18px;

        @include sp {
            width: calc(50% - 7px);
            margin-top: 15px;
        }
    }

    &__lightbox {
        border: 1px solid #dddddd;
        width: 100%;
        height: 270px;
        position: relative;

        @include sp {
            height: 121px;
            padding: 15px;
        }

        &::before {
            content: '';
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            right: 20px;
            background: url(/assets/img/common/zoom.png) no-repeat center;
            background-size: cover;
            z-index: 2;

            @include sp {
                width: 30px;
                height: 30px;
                bottom: 5px;
                right: 5px;
            }
        }

        a {
            @include abf;
        }

        img {
            max-width: calc(100% - 53px);
            max-height: calc(100% - 53px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @include sp {
                // max-height: 95px;
            }
        }
    }

    &__text {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 12px;

        @include sp {
            font-size: 1.2rem;
            margin-top: 10px;
            margin-top: 6px;
        }
    }
}

.c-img2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -25px;

    @include sp {
        margin: 0 -7px;
    }

    li {
        margin: 0 17px;
        margin-top: 35px;
        width: calc(33.3333% - 40px);

        @include sp {
            margin: 0 7px;
            margin-top: 20px;
            width: calc(33.3333% - 14px);
        }

        img {
            width: 100%;
        }

        p {
            text-align: center;
            font-size: 1.6rem;
            margin-top: 15px;
            font-weight: bold;

            @include sp {
                font-size: 8px;
                margin-top: 8px;
            }
        }
    }
}

body:after {
    content: url(../img/icon/icon_close2.svg) url(../img/icon/icon_close2.svg) url(../img/icon/icon_close2.svg) url(../img/icon/icon_close2.svg);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    border-radius: 3px;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    background-color: white;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-container {
    padding: 20px;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container>.nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 50%;
    left: 0;
    float: left;
    background: url(../img/icon/icon_arrow.svg) no-repeat center right 10px;
    background-size: 30px;
    transform: scale(-1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 50%;
    right: 0;
    float: right;
    background: url(../img/icon/icon_arrow.svg) no-repeat center right 10px;
    background-size: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/icon/icon_close2.svg) top right no-repeat;
    background-size: cover;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}