/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include sp {
        width: 300px;
        margin: 0 auto;

        .slick-list.draggable {
            overflow: inherit;
        }

    }

    li {
        width: 31%;
        background: #fff;
        position: relative;
        transition: .5s;

        @include pc {
            margin-top: 50px;

            &:hover {
                @include shadow;

                img {
                    transform: scale(1.1);
                }

            }
        }

        @include sp {
            margin: 0 7px;
        }
    }

    &__fig1 {
        background: #00a0e9;
    }

    &__fig2 {
        background: #eb6100;
    }

    &__fig3 {
        background: #1ca7aa;
    }

    &__fig4 {
        background: #ca4347;
    }

    figure {
        position: relative;
        display: block;
        overflow: hidden;


        img {
            width: 100%;
            transition: .5s;
        }

        figcaption {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.4rem;
            color: #fff;
            padding: 5px 10px;

            @include sp {
                font-size: 1rem;
                padding: 3px 10px;
            }
        }
    }

    &__content {
        padding: 24px 30px;

        @include sp {
            padding: 11px 15px;
        }
    }

    &__title {
        font-size: 1.8rem;
        text-align: justify;
        line-height: 29px;

        @include sp {
            font-size: 1.2rem;
            line-height: 18px;
        }

        a {
            opacity: 1 !important;
            text-decoration: none;
            color: #111111;
            @include abf;
        }
    }

    &__text {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 24px;

        @include sp {
            font-size: 1rem;
            margin-top: 8px;
            line-height: 15px;
        }
    }

    &__date {
        margin-top: 12px;
        font-size: 1.2rem;
        background: url(/assets/img/icon/icon_clock.svg) no-repeat top 4px left;
        background-size: 12px;
        padding-left: 20px;

        @include sp {
            background-position: top 2px left;
            background-size: 10px;
            padding-left: 15px;
            margin-top: 10px;
            font-size: 1rem;
        }
    }

    &__tag {
        font-size: 1.2rem;
        margin-top: 6px;
        background: url(/assets/img/icon/icon_tag.svg) no-repeat top 4px left;
        background-size: 12px;
        padding-left: 20px;
        position: relative;
        z-index: 9;

        a {
            color: #0168b7;

            @include pc {
                &:hover {
                    border-bottom: 1px solid #0168b7;
                }
            }

        }



        @include sp {
            background-size: 10px;
            font-size: 1rem;
            padding-left: 15px;
            margin-top: 3px;
        }
    }
}

.c-list2 {
    border-collapse: collapse;

    td {
        border: 1px solid #dddddd;
        width: 25%;
        padding: 31px 30px 24px;
        position: relative;
        transition: .3s;
        vertical-align: top;

        @include sp {
            display: block;
            width: 100%;
            margin-top: -1px;
            padding: 20px 17px 14px 20px;
        }

        figure {
            text-align: center;

            img {
                width: 120px;

                @include sp {
                    width: 80px;
                }
            }
        }
    }

    h4 {
        color: #000000;
        text-align: center;
        display: block;
        font-size: 1.6rem;
        letter-spacing: 3px;
        margin: 30px 0 11px;
        @include roboto;

        @include sp {
            font-size: 1rem;
            letter-spacing: 1.5px;
            margin-bottom: 2px;
            margin-top: 20px;
        }
    }

    &__tit {
        color: #000000;
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 7px;
        display: table;
        width: 100%;

        span {
            display: table-cell;
            vertical-align: middle;
            line-height: 35px;
        }

        @include sp {
            font-size: 1.8em;
            margin-bottom: 3px;
            height: auto !important;
        }


    }

    &__text {
        font-size: 1.4rem;
        line-height: 28px;



        @include sp {
            line-height: 25px;
            text-align: justify;
        }
    }
}

.c-list3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 23.5%;
        text-align: center;
        background: #fff;
        padding: 40px 20px 48px;
        margin-top: 20px;
        position: relative;
        transition: .3s;

        a {
            @include abf;
        }

        @include pc {
            &:hover {
                @include shadow;

                img {
                    transform: scale(1.2);
                }
            }
        }

        @include sp {
            width: calc(50% - 7px);
            margin-top: 15px;
            padding: 21px 10px;
        }

        figure {
            display: inline-block;
            overflow: hidden;
            border-radius: 100%;
            border: 1px solid #fff;
        }

        img {
            transition: .3s;
            width: 120px;

            @include sp {
                width: 80px;
            }
        }
    }

    &__br2 {
        border: 1px solid #c9c9c9 !important;
    }

    &__txt {
        font-size: 1.2rem;
        margin: 12px 0 6px;

        @include sp {
            font-size: 1rem;
            margin: 0;
        }
    }

    &__tit {
        font-size: 1.6rem;
        color: #000000;

        @include sp {
            font-size: 1.4rem;
        }
    }
}

.c-list4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 31%;
        background: #fff;
        transition: .3s;
        position: relative;

        @include pc {
            &:hover {
                @include shadow;

                img {
                    transform: scale(1.1);
                }
            }
        }

        @include sp {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &+li {
                margin-top: 10px;
            }

            div {
                width: 50%;
            }
        }

        a {
            @include abf;
        }
    }

    &__img {
        overflow: hidden;
        position: relative;

        img {
            transition: .5s;

            @include sp {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                min-width: 100%;
                min-height: 100%;
                right: 0;
            }
        }
    }

    &__text {
        padding: 25px 30px 38px;

        @include sp {
            padding: 15px;
            padding-right: 5px;
        }
    }

    &__tit {
        text-align: center;

        a {
            font-size: 1.8rem;
            color: #000000;
        }

        @include sp {
            text-align: left;

            a {
                font-size: 1.1rem;
            }
        }
    }

    &__txt {
        font-size: 1.4rem;
        margin-top: 10px;
        line-height: 24px;

        @include sp {
            font-size: 1rem;
            margin-top: 5px;
            line-height: 15px;
        }
    }
}

.c-list5 {
    display: flex;
    flex-wrap: wrap;

    @include sp {
        width: 300px;
        margin: 0 auto;

        .slick-list.draggable {
            overflow: inherit;
        }
    }

    li {
        width: calc(33.3333% + 1px);
        border: 1px solid #dddddd;
        border-color: #dddddd;
        margin-left: -1px;
        margin-top: -1px;
        @include clear;
        padding: 30px;
        padding-right: 20px;
        position: relative;
        transition: .3s;

        @include pc {
            &:hover {
                @include shadow;
                border-color: #fff;
                background: #ffffff;
                z-index: 1;
            }
        }

        @include sp {
            padding: 13px;
            padding-top: 30px;
            margin: 0 7px;
        }
    }

    &__img {
        float: left;
        width: 120px;
        margin-right: 30px;

        @include sp {
            float: none;
            width: 95px;
            margin: 0 auto;
        }

        a {
            @include abf;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        overflow: hidden;
    }

    &__sub {
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
        background: #00a0e9;
        display: inline-block;
        padding: 5px 10px;

        @include sp {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1rem;
            padding: 2px 10px;
        }
    }

    &__tit {
        margin: 13px 0 9px;
        font-size: 1.8rem;
        line-height: 30px;

        @include sp {
            font-size: 1.2rem;
            margin: 12px 0 0;
            line-height: 19px;
        }
    }

    &__date {
        font-size: 1.2rem;
        background: url(/assets/img/icon/icon_clock.svg) no-repeat top 4px left;
        background-size: 12px;
        padding-left: 20px;

        @include sp {
            background-position: top 2px left;
            background-size: 10px;
            padding-left: 15px;
            margin-top: 6px;
            font-size: 1rem;
        }
    }

    &__tag {
        font-size: 1.2rem;
        margin-top: 7px;
        background: url(/assets/img/icon/icon_tag.svg) no-repeat top 4px left;
        background-size: 12px;
        padding-left: 20px;
        position: relative;
        z-index: 9;

        a {
            color: #0168b7;
            border-bottom: 1px solid #fff;
            display: inline-block;

            @include pc {
                &:hover {
                    border-bottom: 1px solid #0168b7;
                }
            }
        }

        @include sp {
            background-size: 10px;
            font-size: 1rem;
            padding-left: 15px;
            margin-top: 3px;
        }
    }
}

.c-list6 {
    $root: &;

    @include pc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include sp {
        margin: 0 -20px;
    }

    li {
        width: calc(33.3333% + 1px);
        border: 1px solid #dddddd;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.8rem;
        color: #0068b7;
        font-weight: bold;
        margin-left: -1px;
        display: table;
        padding: 20px;
        position: relative;
        transition: .5s;

        p {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }

        a {
            @include abf;
        }

        @include pc {
            &:hover {
                @include shadow;
                border-color: #fff;
                z-index: 1;

                #{$root}__img {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }

        @include sp {
            width: 100%;
            margin: -1px 0 0 0;
            font-size: 1.6rem;
            padding: 15px 20px;
        }
    }

    &__img {
        width: 60px;
        border-radius: 100%;
        overflow: hidden;
        border-radius: 100%;
        overflow: hidden;

        img {
            width: 100%;
            transition: .3s;
        }
    }

    &__txt {
        padding-left: 10px;

        @include sp {
            padding-left: 15px;
        }
    }
}

.c-list7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    @include sp {
        margin: 0 -20px;

        &::before {
            content: '';
            width: 1px;
            position: absolute;
            left: 50%;
            background: #dddddd;
            top: 0;
            bottom: 0;
            z-index: 9;
        }
    }

    li {
        width: 31.5%;
        margin-top: 37px;
        position: relative;
        transition: .3s;

        img {
            width: 100%;
            transition: .3s;
        }

        a {
            @include abf;
            display: block;
            overflow: hidden;
        }

        @include pc {
            &:hover {


                img {
                    transform: scale(1.1);
                }
            }
        }

        @include sp {
            width: 50%;
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            margin-top: -1px;
        }
    }

    &__txt1 {
        font-size: 1.4rem;
        margin: 1px 0 10px;

        @include sp {
            margin: 10px 15px 0;
            font-size: 1.2rem;
        }
    }

    &__txt2 {
        font-size: 1.2rem;
        position: relative;
        z-index: 9;

        a {
            color: #0068b7;
            display: inline-block !important;
            border-bottom: 1px solid #FFF;

            @include pc {
                &:hover {
                    border-bottom: 1px solid #0068b7;
                }
            }
        }

        @include sp {
            margin: 4px 15px 8px;
            font-size: 1rem;
        }
    }
}

.c-list8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        @include shadow;
        width: 31%;
        padding: 37px 0 70px;
        position: relative;



        @include pc {
            text-align: center;

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }

        @include sp {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            padding: 15px 20px;

            &+li {
                margin-top: 8px;
            }
        }

        &:before {
            content: '';
            width: 10px;
            height: 20px;
            background: url(/assets/img/icon/icon_arrow3.svg) no-repeat center right;
            background-size: 15px;
            position: absolute;

            @include pc {
                transform: translateX(-50%) rotate(90deg);
                left: 50%;
                bottom: 0;
                animation: effect5 1.5s infinite;
            }

            @include sp {
                transform: rotate(90deg);
                right: 15px;
                animation: effect6 1.5s infinite;
            }
        }

        a {
            display: inline-block;
            overflow: hidden;
            border: 1px solid #046ab8;
            border-radius: 100%;
            width: 100px;
            @include abf;

            @include sp {
                width: 60px;
                margin-right: 15px;
            }
        }

        img {
            transition: .3s;
            width: 100%;
        }

        p {
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 12px;
            color: #0068b7;

            @include sp {
                font-size: 1.4rem;
                margin-top: 0;
            }

        }
    }
}

.c-list9 {
    &__box {
        margin-top: 30px;
        border: 5px solid #cce1f1;
        padding: 35px;
        min-height: 320px;
        @include clear;

        @include sp {
            padding: 15px;
            border: 2px solid #cce1f1;
            min-height: inherit;
            margin-top: 20px;
        }


        h4 {
            font-size: 1.6rem;
            text-align: center;
            margin: 13px 0 10px;

            @include sp {
                font-size: 1.2rem;
                margin: 7px 0 2px;
            }
        }
    }

    &__fll {
        float: left;
        overflow: hidden;
        width: calc(100% - 240px);

        @include sp {
            float: none;
            width: auto;
        }
    }

    &__flr {
        float: right;
        overflow: hidden;
        width: 240px;

        figure {
            display: block;
            text-align: center;

            @include sp {
                margin-top: 14px;
            }

            img {
                @include sp {
                    width: 120px;
                }
            }
        }

        @include sp {
            float: none;
            width: auto;
        }
    }

    &__tt {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        font-size: 2rem;

        @include sp {
            font-size: 1.6rem;
        }

        figure {
            margin-right: 10px;

            img {
                @include sp {
                    width: 63px;
                }
            }
        }
    }

    &__text {
        font-size: 1.6rem;
        margin-top: 10px;
        line-height: 32px;

        @include sp {
            font-size: 1.4rem;
            margin-top: 12px;
            line-height: 25px;
        }
    }

    &__note {
        font-size: 1.2rem;

        @include pc {
            text-indent: -15px;
            margin-left: 15px;
        }

        @include sp {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 3px;
        }
    }

}