/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1 {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        vertical-align: middle;
        text-align: center;
        border: 1px solid #cccccc;
        font-size: 1.6rem;
        width: 16.6666667%;
        font-weight: normal;
        padding: 18px 10px 19px;

        @include sp {
            padding: 5px 2px;
            font-size: 1rem;
        }
    }

    th {
        background: #f4f4f4;
    }

    td {
        text-align: right;
    }

    &__note {
        font-size: 1.4rem;
        margin-top: 34px;

        @include sp {
            margin-top: 8px;
            font-size: 1rem;
        }

        li {
            text-indent: -15px;
            margin-left: 15px;
            line-height: 22px;

            &+li {
                margin-top: 5px;
            }
        }
    }
}