/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slide {
    $root: &;
    border-top: none;
    position: relative;

    .slick-slide:not(.slick-center) {
        z-index: 0;
        transform: scale(0.8);

        .c-slide__bg {
            // transform: translateX(-100%);
        }
    }

    .slick-active.slick-center+.slick-slide+.slick-slide {
        z-index: 1;
    }

    .slick-active.slick-center+.slick-slide,
    .slick-center+.slick-cloned {
        z-index: 2;
    }

    .slick-center {
        z-index: 3;
    }

    .slick-slide {
        position: relative;
        transition: transform 1s ease;
    }



    @include pc {
        &__1 {
            background-image: url(/assets/img/top/slide1.jpg);

            &:before {
                background-image: url(/assets/img/top/slide1.jpg);
            }

        }

        &__2 {
            background-image: url(/assets/img/top/slide2.jpg);

            &:before {
                background-image: url(/assets/img/top/slide2.jpg);
            }
        }

        &__3 {
            background-image: url(/assets/img/top/slide3.jpg);

            &:before {
                background-image: url(/assets/img/top/slide3.jpg);
            }
        }

        &__4 {
            background-image: url(/assets/img/top/slide4.jpg);

            &:before {
                background-image: url(/assets/img/top/slide4.jpg);
            }
        }

        &__5 {
            background-image: url(/assets/img/top/slide5.jpg);

            &:before {
                background-image: url(/assets/img/top/slide5.jpg);
            }
        }
    }

    @include sp {
        &__1 {
            background-image: url(/assets/img/top/slide1_sp.jpg);

        }

        &__2 {
            background-image: url(/assets/img/top/slide2_sp.jpg);
        }

        &__3 {
            background-image: url(/assets/img/top/slide3_sp.jpg);
        }

        &__4 {
            background-image: url(/assets/img/top/slide4_sp.jpg);
        }

        &__5 {
            background-image: url(/assets/img/top/slide5_sp.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        &:before {
            content: '';
            position: absolute;
            background: #003567;
            top: 80px;
            left: 0;
            bottom: 0;
            right: 420px;
            z-index: -1;
        }

    }

    @include sp {
        border-width: 5px;
    }

    &__content {
        width: 50%;
        margin: 0 auto;

        .slick-list {
            overflow: inherit;
        }
    }

    .swiper-slide {
        >div {
            height: 725px;
            width: calc(100vw - 200px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-position: left top;

            @include sp {
                width: 100vw;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: left top;
                //background-size: cover;

                z-index: 9;
            }

        }

        @include sp {
            background-size: cover;
        }


        &.slick-center {
            >div {
                &::before {
                    //left: 50%;
                    right: 100%;
                    transition: 2s;
                    transition-delay: 1s;
                }
            }
        }

        @include sp {
            height: 340px;
        }
    }

    .slick-prev,
    .slick-next {
        z-index: 12;
        position: absolute;
        width: 10px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: url(/assets/img/icon/icon_arrow2.svg) no-repeat center right -5px;
        background-size: auto 20px;
        border: none;
        text-indent: -999999px;
        cursor: pointer;

        @include sp {
            width: 7px;
            height: 15px;
            background-size: auto 15px;
            background-position: center right -3px;

        }
    }

    .slick-next {
        right: -40px;

        @include sp {
            right: -30px;
        }
    }

    .slick-prev {
        transform: translateY(-50%) scale(-1);
        left: -27px;

        @include sp {
            left: -18px;
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 120px !important;

        @include sp {
            bottom: 205px !important;
        }

        &-bullet {
            background: #fff;
            opacity: 1 !important;

            &-active {
                background: #00a0e9;
            }
        }
    }

    &__txtbox {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 2;
        text-align: center;
        color: #fff;
        font-weight: bold;
        transform: translateY(-50%);

        h3 {
            font-size: 2.4rem;
            letter-spacing: 3px;
            display: inline-block;
            border-bottom: 6px solid #fff;
            padding: 0 30px 20px;

            @include sp {
                font-size: 1.4rem;
                white-space: inherit;
                padding: 0 0 20px;
                border-width: 3px;
            }
        }

        h4 {
            @include roboto;
            font-size: 7rem;
            letter-spacing: 7px;
            margin-top: 23px;
            line-height: 1;

            @include sp {
                font-size: 3.5rem;
            }
        }

        p {
            margin: 17px 0 35px;
            font-size: 1.6rem;
            white-space: nowrap;
            line-height: 1.75;
            letter-spacing: 2px;

            @include sp {
                font-size: 1rem;
                margin: 20px 0 0 0;
                white-space: inherit;
            }
        }
    }

    .c-bnt1 {
        font-weight: normal;
        display: block;
        margin: 0;

        @include tab {
            margin: 0 auto;
        }

        @include sp {
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            left: 40px;
            right: 40px;
        }
    }

    &__news {
        @include shadow;
        background: #1d1d1d;
        position: absolute;
        top: calc(100% - 44px);
        left: 50%;
        transform: translateX(-50%);
        width: 1200px;
        z-index: 15;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include tab {
            width: 100%;
        }

        @include sp {
            position: relative;
            width: auto;
            top: initial;
            bottom: initial;
            left: initial;
            right: initial;
            @include shadow;
            padding: 12px 20px 20px;
            margin: 43px 15px 20px;
            transform: none;
        }

        &__bnt {
            padding: 30px 0;
            width: 180px;
            color: #fff;
            @include roboto;
            font-size: 1.4rem;
            color: #fff;
            position: relative;

            &::before {
                width: 1px;
                top: 20px;
                bottom: 20px;
                content: '';
                background: #777777;
                position: absolute;
                left: 0;
            }

            @include sp {
                position: absolute;
                top: 0;
                right: 0;
                padding: 18px 0;
                width: 125px;
                font-size: 1.2rem;
            }
        }
    }



    &__item {
        @include pc {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-left: 28px;

            @media screen and (max-width: 1200px) {
                padding-left: 30px;
            }
        }

        @include sp {
            position: relative;
            left: inherit;
            right: inherit;
            top: inherit;
            transform: inherit;
        }





        &__tit {
            font-weight: bold;
            font-size: 2rem;
            color: #ffffff;
            float: left;

            @include pc {
                &::after {
                    content: '／';
                    font-size: 1.4rem;
                    color: #111111;
                    margin: 0 10px;
                }
            }

            @include sp {
                float: none;
                margin-bottom: 31px;
                font-size: 1.6rem;
            }
        }

        &__content {
            position: relative;

            @include pc {
                float: left;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0;

            }

            p:first-child {
                font-size: 1.6rem;
                color: #ffffff;

                @include sp {
                    margin-bottom: 10px;
                    margin-left: 0;
                    font-size: 1.4rem;
                }

                span {
                    background: #00a1e9;
                    border: 1px solid #00a1e9;
                    font-size: 1.2rem;
                    color: #fff;
                    padding: 2px 6px;
                    margin: 0 11px 0 12px;

                    @include sp {
                        padding: 0px 9px;
                        margin: 0 2px 0 12px;
                        font-size: 1rem;
                    }
                }
            }

            p:last-child {
                font-size: 1.6rem;

                a {
                    color: #ffffff;
                }

                @include pc {
                    &:hover {
                        border-bottom: 1px solid #ffffff;
                    }
                }

                @include sp {
                    position: relative;
                    font-size: 1.4rem;
                }
            }
        }


    }



    &__pag {
        width: 10px;
        margin-left: 55px;
        float: left;

        @include sp {
            margin-left: 35px;
        }

        .slick-dots {
            position: absolute;
            bottom: 110px;
            width: calc(100vw - 37px);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @include pc {

                left: -1065px;
                min-width: 1200px;
            }

            @include sp {
                right: -95px;
                width: calc(100vw - 10px);
                bottom: 115px;
            }

            li {
                margin: 0 7px;
                border-radius: 100%;
                background: #fff;
                width: 8px;
                height: 8px;
                transition: .5s;
                cursor: pointer;

                @include sp {
                    margin: 0 3px;
                    width: 7px;
                    height: 7px;
                }

                &.slick-active {
                    background: #00a0e9;
                }
            }

            button {
                display: none;
            }


        }
    }

    &__total {
        float: left;
    }

    &__list {
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;

        img {
            height: 20px;
        }

        @include sp {
            margin-left: 38px;

            img {
                height: 15px;
            }
        }
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }
}

/* Slider */
.slick-slider {
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}