/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
    background: url(/assets/img/common/line1.png) no-repeat center #2a2a2a;
    color: #fff;
    padding: 57px 0 67px;
    margin: 0 10px;
    text-align: center;

    @include sp {
        font-size: 2.1rem;
        padding: 58px 0 33px;
        margin: -30px 5px 0;
    }

    h1 {
        line-height: 1;
        font-size: 2.4rem;
    }

    span {
        display: block;
        @include roboto;
        font-size: 4.8rem;
        margin-bottom: 4px;
        letter-spacing: 10px;

        @include sp {
            font-size: 1rem;
            margin-bottom: 9px;
            letter-spacing: 1.7px;
        }

    }

    .l-container1 {
        @include sp {
            padding: 0 30px;
        }
    }
}



.c-visual {
    position: relative;
    width: 100%;
    overflow: hidden;

    @include sp {
        overflow: inherit;
    }
}

// .c-number {
//     @include roboto;
//     font-size: 1.4rem;
//     color: #fff;


//     .slick-dots {
//         position: absolute;
//         top: -200px;
//         left: 50%;
//     }

//     @include sp {
//         top: 381px;
//         left: inherit;
//         right: 69px;
//         bottom: inherit;
//         font-size: 1.2rem;
//     }

//     .swiper-number {
//         float: left;
//         width: 10px;
//         overflow: hidden;
//     }

//     .swiper-slide {
//         text-align: center;
//     }

//     .swiper-total {
//         position: relative;
//         z-index: 1;
//     }
// }

.c-submit {
    cursor: pointer;
    background: #000000;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    position: relative;

    input {
        height: 50px;
        border: none;
        width: 100%;
        background: none;
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 1;
        font-size: 1.6rem;

        @include sp {
            height: 35px;
            font-size: 1.2rem;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform .5s;
        background: #0068b7;
    }

    &:hover {
        &:before {
            transform: scale(1, 1);
            transform-origin: left top;
        }
    }
}