/*------------------------------------------------------------
All Component
------------------------------------------------------------*/
.page-allcomponent {
    @include pc {

        .c-navi3__login,
        .c-navi3__logout {
            max-width: 410px;
        }
    }
}