/*------------------------------------------------------------
 Netresearch
------------------------------------------------------------*/
.p-netresearch {
    border-bottom: 1px solid #dddddd;

    &1 {
        padding-bottom: 52px;
        margin-bottom: 70px;

        @include sp {
            padding-bottom: 39px;
            margin-bottom: 55px;
        }
    }

    &2 {
        padding-bottom: 52px;
        margin-bottom: 52px;

        @include sp {
            padding-bottom: 30px;
            margin-bottom: 33px;
        }
    }

    &3 {
        padding-bottom: 77px;
        margin-bottom: 71px;

        @include sp {
            padding-bottom: 39px;
            margin-bottom: 32px;
        }
    }

    &4 {
        padding-bottom: 70px;
        margin-bottom: 70px;

        @include sp {
            padding-bottom: 30px;
            margin-bottom: 32px;
        }
    }

    &5 {
        padding-bottom: 78px;
        margin-bottom: 60px;

        @include sp {
            padding-bottom: 42px;
            margin-bottom: 55px;
        }
    }

    &6 {
        padding-bottom: 77px;
        margin-bottom: 70px;

        @include sp {
            padding-bottom: 0;
            margin-bottom: 33px;
            border: none;
        }
    }

    &7 {
        padding-bottom: 80px;
        margin-bottom: 75px;

        @include sp {
            padding-bottom: 0;
            margin-bottom: 33px;
            border: none;
        }
    }

    &8 {
        border: none;
    }





    &__img {
        margin: 12px 0 30px;
        width: 100%;

        @include sp {
            margin: -4px 0 12px 0;
        }
    }

    &__chart {
        @include sp {
            margin: 0 -7px;
            position: relative;
            padding-bottom: 20px;

            &:before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                bottom: 0;
                right: 2px;
                background: url(/assets/img/common/zoom.png) no-repeat center;
                background-size: cover;
                z-index: 2;
            }

            a {
                @include abf;
            }
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 32px;
        overflow: hidden;

        @include sp {
            font-size: 1.4rem;
            line-height: 24px;
            text-align: justify;
        }
    }

    .c-list8 {
        margin: 35px 0 6px;

        @include sp {
            margin: 28px 0 13px;
        }
    }

    .c-title2 {
        margin-top: -12px;
        margin-bottom: 32px;

        @include sp {
            margin-bottom: 23px;
        }
    }

    .c-title3 {
        margin-top: 60px;
        margin-bottom: 21px;

        @include sp {
            margin-top: 20px;
            margin-bottom: 9px;
        }
    }

    .c-title4 {
        @include sp {
            margin: 0 -6px;
        }
    }

    .c-title5 {
        margin-bottom: 35px;

        @include sp {
            margin-bottom: 10px;
        }
    }

    &__title {
        font-size: 2rem;
        margin: 37px 0 16px;
        text-align: center;

        @include sp {
            font-size: 1rem;
            margin: 22px 0 10px;
        }
    }

    &__note {
        font-size: 2rem;
        color: #a40000;
        text-align: center;
        margin-top: 15px;

        @include sp {
            font-size: 1rem;
            margin-top: -14px;
        }
    }

    .c-img1 {
        margin-top: 29px;

        @include sp {
            margin: 6px 0 0 0;
        }
    }

    .c-img2 {
        margin-top: -4px;
        margin-bottom: 8px;

        @include sp {
            margin-top: -4px;
        }
    }

    &__box {
        margin-bottom: 165px;

        @include sp {
            margin-bottom: 32px;
        }

        .c-title5 {
            margin-bottom: 24px;

            @include sp {
                margin-bottom: 8px;
            }
        }

        div {
            @include clear;

            img {
                float: right;
                margin: -51px 0 0 45px;

                @include sp {
                    width: 120px;
                    margin: 0;
                    margin-left: 17px;
                }
            }
        }

    }

    .c-table1 {
        margin-top: 40px;
    }

    .c-list6 {
        margin-top: 22px;
    }



    .c-list7 {
        @include sp {
            margin-top: 25px;
        }
    }

    &__table {
        position: relative;
        padding-bottom: 10px;

        &:before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 0;
            right: 0px;
            background: url(/assets/img/common/zoom.png) no-repeat center;
            background-size: cover;
            z-index: 2;
        }

        a {
            @include abf;
        }
    }
}