/*------------------------------------------------------------
 top
------------------------------------------------------------*/

.p-top1 {
    .c-title1 {
        margin: 95px 0 40px;

        @include sp {
            margin: 12px 0 22px;
        }
    }

    .c-bnt {
        margin-top: 40px;

        @include sp {
            margin-top: 18px;
        }
    }
}

.p-top2 {
    background: #ffffff;
    padding: 75px 0 80px;
    margin-top: 80px;

    @include sp {
        padding: 38px 0 42px;
        margin-top: 41px;
    }

    .c-title1 {
        margin-bottom: 55px;

        @include sp {
            margin-bottom: 16px;
        }

        span {
            @include sp {
                background: #f4f4f4;
            }
        }
    }

    &__list {
        margin-top: 36px;
        padding: 20px 0 24px;
        border-top: 1px solid #dddddd;

        @include sp {
            margin-top: 20px;
            padding: 3px 0 24px;
        }
    }
}

.p-top3 {
    padding: 83px 0;

    @include sp {
        padding: 33px 0 40px;
    }

    .c-title1 {
        margin-bottom: 4px;

        @include sp {
            margin-bottom: 22px;
        }
    }

    .c-bnt {
        margin-top: 46px;

        @include sp {
            margin-top: 20px;
        }
    }
}

.p-top4 {
    background: #ffffff;
    padding: 75px 0 85px;

    @include sp {
        padding: 36px 0 42px;
    }

    .c-title1 {
        margin-bottom: 0;

        @include sp {
            margin-bottom: 20px;
        }

        span {
            @include sp {
                background: #f4f4f4;
            }
        }
    }

    .c-bnt {
        margin-top: 31px;

        @include sp {
            margin-top: 20px;
        }
    }

}

.p-top5 {
    padding: 72px 0 120px;

    @include sp {
        padding: 54px 0 39px;
    }

    .c-title1 {
        margin-bottom: 55px;

        @include sp {
            margin-bottom: 26px;
        }
    }

    .c-bnt {
        margin-top: 40px;

        @include sp {
            margin-top: 22px;
        }
    }
}

.page-top {
    .c-slide {
        @include sp {}
    }
}